<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.chardonlabs.facts"
version = "3.0">

<name>Chardon Facts</name>

<description>
Chardon Facts for iPhone iOS7
</description>

<author href="http://www.nitobi.com" email="mbutche1@gmail.com">
Mike Butcher
</author>
<icon src="img/icon.png" default="false" />
<gap:splash src="logo.png" width="640" height="1136"/>
<gap:splash src="logo.png" gap:platform="ios" width="640" height="1136" />

<preference name="phonegap-version" value="2.9.0" />

<plugin name="Notification" value="CDVNotification" />

<plugin name="InAppBrowser" value="CDVInAppBrowser" />



</widget>